Package: socat-master
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Grigoriy Yashin <grigoriy.yashin@gmail.com>
Description: A utility to manage socat port forwarding services.
 This tool allows you to create, delete, and list socat services
 with ease. It is designed to simplify port forwarding management.